* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(217, 170, 170);
}
.wrapper {
  width: 50%;
  margin: 15vh auto;
  padding: 20px;
  border: 1px solid purple;
}

.img {
  display: block;
  width: 400px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.word-wrapper {
  width: 400px;
  height: 50px;
  border: 1px solid purple;
  margin: 0 auto;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom:  10px;
}

.form {
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

input {
  width: 20%;
  height: 50px;
  font-family: serif;
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  margin-right: 20px;
}

button {
  width: 20%;
  height: 50px;
  font-family: serif;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  border-radius: 15%;
  background-color: rgba(128, 0, 128, 0.416);
  box-shadow: 2px 2px 5px 2px rgba(0,0,0,0.3); 
  cursor: pointer;
}

.letter {
  color: rgb(217, 170, 170);
  height: 20px;
  border-bottom: 1px solid black;
  margin: 0 5px;
  width: 20px;
  font: 24px;
  text-align: center;
}

.black-letter {
  color: black;
}

.pop-ap-losing, .content {
  width: 700px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: auto;
  padding: 40px;
  border: 1px solid purple;
  background-color: white;
  }
  
  .layer{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.211);
  display: flex;
  justify-content: center;
  align-items: center;
  }
  
  .btn {
  width: 150px;
  border: 1px solid black;
  margin: 100px 70px;
  }
