* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(217, 170, 170);
}
.wrapper{
    width: 50%;
    margin: 0 auto;
    padding: 20px;
    

}

.img {
    display: block;
    width: 400px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.word-wrap {
    width: 100%;
    height: 50px;
    border: 1px solid red;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

input {
    width: 20%;
    height: 100px;
    font-family: serif;
    font-size: 44px;
    font-weight: 600;
    text-align: center;
    margin-right: 20px;
}

button {
    width: 20%;
    height: 100px;
    font-family: serif;
    font-size: 44px;
    font-weight: 600;
    text-align: center;
}